@font-face {
    font-family: ComicSans;
    src: url("comic.ttf");
  }
  ComicSans {
    font-family: ComicSans;
  }

redText {
    color:red;
}

body {
    background-color: rgb(95, 95, 95);
  }

.comicsans {
    font-family: ComicSans;
}

.redirectButton {
  background: gray;
  border: 5px black;
  border-style: solid;
  color: white;
  text-align: center;
  padding: 16px 32px;
  font-size: 50px;
  float: left;
}

.topMenu {
  overflow: hidden;
  background-color: black;
  border-radius: 25px;
}

.topMenu a {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  padding: 20px;
}

.topMenu a:hover {
  background-color: white;
  color: black;
}
