@font-face {
    font-family: ComicSans;
    src: url("comic.ttf");
  }
  ComicSans {
    font-family: ComicSans;
  }

redText {
    color:red;
}

body {
    background-color: gray;
  }

.comicsans {
    font-family: ComicSans;
}

.redirectButton {
  background: gray;
  border: black;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 16px 32px;
  font-size: 50px;
  float: left;
}
